# Node.js Tools for Visual Studio
node_modules/

# JetBrains Rider
.idea/
*.sln.iml

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.swc
# Local
dist
pnpm-lock.yaml
